@media (max-width: 1118px) {
	header img {
		left: 8%;
	}
}
@media (max-width: 944px) {
	header img {
		left: 7%;
	}
	nav ul li a {
		font-size: 17px;
	}
}
@media (max-width: 860px) {
	label #btn {
		display: block;
	}
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgb(5, 58, 87);
		/* background: rgb(238, 238, 238); */
		top: 80px;
		left: 0;
		text-align: center;
		transition: all 0.5s;
		display: none;
	}
	header ul li {
		display: block;
		margin: 50px 0;
		line-height: 10px;
	}
	header ul li a {
		font-size: 17px;
	}
	#check:checked ~ ul {
		display: block;
	}
	#check:checked ~ label #btn {
		display: none;
	}

	#check:checked ~ label #cancel {
		display: block;
	}
}
@media (max-width: 1000px) {
	/* MAIN */
	.main-greeting {
		margin-top: 70px;
	}

	.main-container {
		padding-left: 70px;
		padding-right: 70px;
	}
	/* END MAIN */

	/* PRODUCTS */
	.badan {
		width: 100%;
	}

	/* END PRODUCTS */

	/* PROFILES */
	.profil-wrapper {
		/* height: 600px; */
		margin-bottom: 30px;
	}
	.image-profil {
		width: 50%;
	}
	.yd,
	.fd,
	.zk,
	.fk,
	.rq {
		width: 30%;
		margin-left: 65px;
	}
	.image-profil .yudha {
		width: 75%;
	}
	.image-profil .fadel {
		width: 56.5%;
	}
	.image-profil .rifqi {
		width: 60%;
	}
	.image-profil .faskal {
		width: 70%;
	}
	.image-profil p {
		font-size: 15px;
	}
	/* END PROFILES */
}

@media (max-width: 670px) {
	/* MAIN */
	.main {
		max-height: 100vh;
	}

	.main-container {
		text-align: center;
	}

	.main-greeting {
		width: 100%;
	}

	.main-greeting h1 {
		font-size: 30px;
		line-height: 30px;
	}

	.main-greeting p {
		font-size: 12px;
	}
	/* END MAIN */

	/* PROFILES */
	.image-profil {
		width: 100%;
		box-shadow: 0 3.5px grey;
	}
	.yd,
	.fd,
	.zk,
	.fk,
	.rq {
		width: 55%;
		margin-left: 30px;
	}
	.image-profil .fadel,
	.zaki {
		width: 65%;
	}
	.image-profil .rifqi {
		width: 70%;
	}
	h2 {
		font-size: 13px;
	}
	.image-profil p {
		font-size: 7.5px;
	}
	/* END PROFILES */
}
